<h3>311 Rquests</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Request</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    <% @requests.each do |request| %>
        <tr>
            <th scope="row"></th>
            <td><%= link_to request.service.service_request, request %></td>
            <td><%= request.date %></td>
        </tr>
    <% end %>
  </tbody>
</table>
