<h3>Results</h3>

<%= paginate @requests %>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Request</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    <% @requests.each do |request| %>
        <tr>
            <th scope="row"></th>
            <td><%= link_to request.service.service_request, request %></td>
            <td><%= request.date.strftime("%b %d, %Y") %></td>
        </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @requests %>