<h3>Service Request Categories</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Number of Services</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
        <tr>
            <th scope="row"></th>
            <td><%= link_to category.name, category %></td>
            <td><%= category.services.length %></td>
        </tr>
    <% end %>
  </tbody>
</table>
